
.testimonialSection{
    position: relative;
    z-index: 0;
}
.testimonialSection::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .9);
    z-index: -1;
}
.sectionTitle{
    position: relative;
    z-index: 1;
}
.people_say{
    max-width: 830px;
    width: 100%;
    margin: 0 auto;
}
.testimonial{
    max-width: 740px;
    width: 100%;
    margin:0 auto;
    margin-top: 60px;
    position: relative;
    z-index:2;
}

.carousel_content{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.image_box{
    display: flex;
    justify-content: center;
}
.info_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.name_and_designation{
    text-align: center;
    gap: 5px;
}

.titleBottomGap {
    margin-bottom: 10px;
}

.titleTopGap {
    margin-top: 15px;
}
@media(min-width:768px){

    .titleBottomGap {
        margin-bottom: 15px;
    }
}
@media(min-width:1025px){

    .section_title {
        gap: 20px;
    }

    .section_title::after {
        width: 60px;
        height: 5px;
        bottom: -20px;
    }

    .info_wrapper{
        gap: 15px;
        margin-bottom: 25px;
    }
    .titleTopGap {
        margin-top: 15px;
    }
}